.top-story-image-wrapper {
    overflow: hidden;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: flex-start;
}

.top-story-image-wrapper img {
    width: 100%;
    height: auto;
}



.brief-column-title a {
    text-transform: uppercase;
    position: relative;
}

.top-story-image-wrapper + a h2 {
    line-height: 1.15;
}

.top-story-image-wrapper + a {
    display: block;
}

.brief-column-title {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.brief-column-title::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--brand-color);
    bottom: -3px;
    left: 0;
    position: absolute;
}

.brief-column-title a::after {
    content: "›";
    font-family: 'Noto Sans';
    font-size: 32px;
    color: var(--brand-color);
    font-weight: 400;
    top: -3px;
    right: 0;
    transform: translateX(16px);
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}



ul.brief-column {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}


ul.brief-column li {
    width: 100%;
    position: relative;
}


ul.brief-column li:not(:first-child):not(:last-child)::after {
    width: 100%;
    height: 1px;
    background-color: var(--separator-color);
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    transform: translateY(16px);
}

ul.brief-column li:first-child {
    padding-bottom: 16px;
}


ul.brief-column li:hover a {
    color: var(--brand-color);
    cursor: pointer;
}


.brief-column li:first-child article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
