footer {
    background-color: #F5F5F5;
    max-width: 100%;
    width: 100%;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 8px 0px inset;
    border-top: 1px solid rgba(0,0,0,0.3);
    padding-bottom: 100px;
}

#footer-shield {
    width: min(calc(100vw - 64px), 1500px);
    margin-left: auto;
    margin-right: auto;
    padding: 32px 0px;
}


#footer-shield img {
    margin-left: 64px;
    max-width: calc(min(100vw, 1500px)/4 - 3*32px);
    height: auto;
}

#footer-shield nav {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.footer-members-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#footer-shield nav ul {
    flex: 1;
    list-style-type: none;
    position: relative;
    margin-top: 32px;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#footer-shield nav ul li:first-child {
    text-transform: uppercase;
    font-weight: 700 !important;
    font-family: 'Noto Sans';
}


#footer-shield nav ul li:first-child button {
    width: 100%;
}


#footer-shield nav ul::before {
    position: absolute;
    content: "";
    left: 64px;
    top: 0;
    width: calc(100% - 64px);
    height: 2px;
    background-color: black;
    transform: translateY(-16px);
}

#footer-shield nav ul li a {
    text-decoration: none;
    color: black;
}

.copyright-notice {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    color: #3B3B3B;
} 

@media screen and (max-width: 1024px) {
    #footer-shield nav {
        display: grid;
        grid-auto-flow: column;
        align-items: start;
        grid-template-columns: 1fr 1fr;
    }


    #footer-shield nav ul {
        padding-left: 0;
    }

    #footer-shield img {
        margin-left: 0;
    }

    #footer-shield nav ul::before {
        left: 0;
    }


    #footer-shield nav ul li:first-child button {
        max-width: 80%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    #footer-shield nav {
        grid-template-rows: repeat(2, auto);
        column-gap: 20%;
    }

    #footer-shield nav ul {
        flex: unset;
        width: 87%;
    }

    .footer-members-links {
        flex: unset;
        width: 100%;
    }

    #footer-shield img {
        max-width: calc(min(100vw, 1500px) / 3 - 2 * 32px);
    }
}


@media screen and (min-width: 640px) and (max-width: 800px) {
    #footer-shield nav {
        grid-template-rows: repeat(3, auto);
        column-gap: 0;
    }

    #footer-shield img {
        max-width: calc(min(100vw, 1500px) / 2 - 3 * 32px);
    }
}


@media screen and (max-width: 640px) {
    #footer-shield nav {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #footer-shield nav ul::before {
        width: 100%;
    }

    #footer-shield img {
        max-width: 100%;
    }


    #footer-shield nav ul li:not(:first-child) {
        display: none;
    }

    #footer-shield nav ul li:not(:has(> button:first-child))::after {
        font-size: 11px;
        content: "▼";
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        color: #3B3B3B;
    }

    #footer-shield nav ul {
        flex: unset;
        max-width: 100%;
        width: 100%;
    }

    .footer-members-links {
        flex: unset;
        width: 100%;
        gap: 0;
    }

    #footer-shield {
        padding: 20px 0px;
    }

    #footer-shield nav ul li:first-child button {
        max-width: 100%;
    }
}

nav:has(> #technical-links:first-child) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0px 16px;
}

#technical-links {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    color: #3B3B3B;
    list-style-type: none;
    margin: 16px 0px;
}

#technical-links a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    #technical-links {
        flex-direction: column;
        row-gap: 3px;
        justify-content: flex-start;
        margin: 32px 0px;
        margin-right: auto;
    }

    #technical-links li a span {
        font-size: 16px !important;
    }
}



@media screen and (max-width: 640px) {
    #technical-links {
        row-gap: 16px;
    }
}

