.featured-display-wrapper {
    width: 75%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.featured-display-main-flow {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 20px;
    max-width: 75%;
}


.featured-prominent-news-wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-items: flex-start;
}

.featured-prominent-news-headline-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.featured-prominent-news-wrapper img {
    height: auto;
    flex: 1;
}


@media screen and (min-width: 801px) and (max-width: 1280px) {
    .featured-display-main-flow {
        max-width: 60%;
    }
}


@media screen and (max-width: 800px) {
    .featured-display-wrapper {
        max-width: 100%;
        width: 100%;
    }

    .featured-display-main-flow {
        max-width: 100%;
        width: 100%;
    }
    
}