.featured-display-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.featured-display-main-flow {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 20px;
    flex-direction: column;
}


.featured-display-main-flow img {
    width: 100%;
    height: auto;
}

.featured-prominent-news-wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-items: flex-start;
}

.featured-prominent-news-headline-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.featured-prominent-news-wrapper img {
    height: auto;
    flex: 1;
}

.featured-prominent-news-headline-wrapper a:hover {
    cursor: pointer;
    color: var(--brand-color);
}

.featured-prominent-news-headline-wrapper img:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .featured-display-wrapper {
        flex-direction: column;
    }

    .featured-display-main-flow {
        max-width: 100%;
        width: 100%;
    }
}