:root {
  --page-wrapper-width: 95%;
  --brand-color: #7d161e; 
  --separator-color: #bfbfbf;
}

#root {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}