:root {
  --page-wrapper-width: 95%;
  --brand-color: #7d161e; 
  --separator-color: #bfbfbf;
}

#root {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#quick-reads-list {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  list-style-type: none;
  margin-top: 100px;
}

#quick-reads-list > li {
  display: contents;
}

section > a.brand-link {
  display: block;
}

a.brand-link {
  color: black;
  text-decoration: none;
}

a.brand-link:hover {
  cursor: pointer;
  color: var(--brand-color);
}

:is(h1, h2, h3, h4, h5, h6):has(> a:only-child) {
  font-size: unset;
  font-weight: unset;
  font-family: unset;
  line-height: unset;
}


h2 a {
  line-height: 1.2;
}
