:root {
  --page-wrapper-width: 95%;
  --brand-color: #7d161e; 
  --muted-color: #3B3B3B; 
  --separator-color: #949494;

  --gap-regular: 16px;
  --gap-large: 32px;
}

#root {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Noto Sans';
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

hr {
  border: none;
  border-top: 1px solid var(--separator-color);
}

#quick-reads-list {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--gap-large);
  margin-top: 100px;
}

#quick-reads-list > li {
  display: contents;
}

section > a.brand-link {
  display: block;
}

a.brand-link {
  color: black;
  text-decoration: none;
}

a.brand-link:hover {
  cursor: pointer;
  color: var(--brand-color);
}

@layer components {
  :is(h1, h2, h3, h4, h5, h6):has(> a:only-child) {
    font-size: unset;
    font-weight: unset;
    font-family: unset;
    line-height: unset;
  }
}


h2 a, h3 a {
  line-height: 1.2;
}


.header-action {
    background-color: var(--brand-color);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 45px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
}

.header-action:hover {
    background-color: #c81632;
    text-decoration: underline;
}



/* Font related */
.text-uppercased {
  text-transform: uppercase;
}

#root .mui-icon {
  font-family: 'Material Symbols Outlined';
}

#root .fw-300 {
  font-weight: 300;
}

#root .fw-400 {
  font-weight: 400
}

#root .fw-600 {
  font-weight: 600;
}

#root .fw-700 {
  font-weight: 700;
}

#root .fw-800 {
  font-weight: 800;
}

#root .fs-xl {
  font-size: 29px;
}

#root .txt-passthrough {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

/* Spacing related */
#root .mt-related {
  margin-top: 16px;
}

#root .mb-related {
  margin-bottom: 16px;
}

#root .pb-regular {
  padding-bottom: 16px;
}

#root .lh-default {
  line-height: 1.2;
}

#root .lh-sm {
  line-height: 1.1;
}


/* Spacing related */
#root .fill-max-width {
  width: 100%;
}


/* Lists */
.unstyled-list {
  list-style-type: none;
}

.separated-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap-large);
}

.separated-list li {
  position: relative;
}

.separated-list li:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--separator-color);
    transform: translateY(calc(var(--gap-large) / 2));
  }