.prominent-news-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.prominent-news-grid article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.prominent-news-grid article img {
    width: 100%;
}

.prominent-news-grid article a {
    width: 100%;
}

.prominent-news-grid article a:hover {
    color: var(--brand-color);
    cursor: pointer;
}

.prominent-news-grid article img:hover {
    cursor: pointer;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .prominent-news-grid {
        grid-template-columns: 1fr;
        justify-content: stretch;
    }

    .prominent-news-grid article {
        flex-direction: row;
        gap: 16px;
    }

    .prominent-news-grid article img {
        flex: 1.5 1 0;
        min-width: 0;
    }

    .prominent-news-grid article a {
        flex: 1 1 0;
        min-width: 0;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {    
    .prominent-news-grid article {
        flex-direction: column;
        gap: 16px;
        position: relative;
    }

    .prominent-news-grid article::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--separator-color);
        bottom: 0;
    }

    .prominent-news-grid article a {
        font-weight: 600 !important;
        font-size: 16px !important;
    }

    .prominent-news-grid {
        justify-content: stretch;
    }
}


@media screen and (min-width: 640px) and (max-width: 800px) {    
   .prominent-news-grid article {
        flex-direction: row;
        gap: 16px;
        position: relative;
   }

   .prominent-news-grid article img {
        height: 64px;
        width: auto;
        flex: auto;
   }


   .prominent-news-grid article a {
        font-size: 16px !important;
        font-weight: 600 !important;
    }

    .prominent-news-grid article::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--separator-color);
    }
}


@media screen and (max-width: 640px) {
    .prominent-news-grid {
        grid-template-columns: 1fr;
        justify-content: stretch;
    }

    .prominent-news-grid article {
        flex-direction: row;
        gap: 16px;
        position: relative;
    }

    .prominent-news-grid article img {
        height: auto;
        max-width: 150px;
    }

    .prominent-news-grid article a {
        font-size: 18px !important;
        font-weight: 600 !important;
    }

    .prominent-news-grid article::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--separator-color);
    }
}